*{
    margin:0 auto;
    padding: 25px;
    display: inline-block;
    

}


.form1{
    font-family: display;

}
.form2{
    font-family: display;
}
.form3{
    font-family: display;
}
.form4{
    font-family: display;
}
.form5{
    font-family: display;
}
.form6{
    font-family: display;
}
.form7{
    font-family: display;
    

}
.submit{
    display: block;
}